@model DATNSD54.DAO.Models.ProductDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product_ID" class="control-label"></label>
                <select asp-for="Product_ID" class ="form-control" asp-items="ViewBag.Product_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class ="form-control" asp-items="ViewBag.Size"></select>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class ="form-control" asp-items="ViewBag.Color"></select>
            </div>
            <div class="form-group">
                <label asp-for="Don_Gia" class="control-label"></label>
                <input asp-for="Don_Gia" class="form-control" />
                <span asp-validation-for="Don_Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SL" class="control-label"></label>
                <input asp-for="SL" class="form-control" />
                <span asp-validation-for="SL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label"></label>
                <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Trang_Thai" /> @Html.DisplayNameFor(model => model.Trang_Thai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Ngay_Tao" class="control-label"></label>
                <input asp-for="Ngay_Tao" class="form-control" />
                <span asp-validation-for="Ngay_Tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

